.container-accard1{
  background-color: black;
  padding: 0.5rem;
  /* background-color: lightseagreen; */
  width: 100%;

  display: grid;
  grid-column: fit-content 1fr ;
  grid-template-rows: min-content;

  max-height: calc(350px + 1rem);
}

.container-accard1 *{
  font-family: 'Poppins';
}

.div-acimg{
  /* background-color: lightcoral; */
  width: 350px;
  height: 350px;
  display: inline-block;

  grid-column: 1/2;
  grid-row: 1/-1;
}

.img-acthumbnail{
  width: 100%;
  height: 100%;
}



/*     CONTENT BOX OF THE ACHIEVEMENT      */
.div-content{
  /* background-color: lightslategrey;
  border: solid 2px red ; */

  grid-column: 2/3;
  grid-row: 1/-1;

  margin-left: 25px;

  max-height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-acdate{
  margin-top: 5px;
  margin-bottom: 1rem;
}

.h2-actitle {
  /* border: solid 1px blue ;   */

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em; /* Adjust as needed */
  max-height: 2.4em; /* 2 lines * line-height */
}

.div-acdescription{
  /* border: solid 2px lightblue; */
  padding-right: 10%;

  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3rem;
}


.bt-viewmore{
  margin-top: 0.5rem;
  background-color: red;
  border: none;
  padding: 5px 0;
  margin-right: 25px;

  cursor: pointer;
  transition: 400ms;
}

.bt-viewmore:hover{
  transform: scaleY(1.1);
  box-shadow: 0px 0px 30px #e100008a;
}


@media(max-width:1024px){
  .h2-actitle{
    font-size: 1.5rem;
  }

  .div-acdescription{
    font-size:0.9rem;
    line-height:1.1rem
  }
}


@media(max-width:768px){

  .container-accard1{
    box-shadow: 0px 0px 15px #1414149c;
  }

  .div-acimg{
    width:180px;
    height:180px;
  }

  .img-acthumbnail{
    width: 100%
  }




  /*######## CONTENT ABOUT THE ACHIEVEMENT #####*/
  .div-content{
    margin-left: 0.5rem;
    max-height: 180px;
  }

  .h2-actitle{
    font-size:1.14rem;
    flex-shrink: 0;
  }

  .p-acdate{
    font-size:0.7rem;
    margin-bottom: 0.5rem;
  }

  .div-acdescription{


    font-size:0.7rem;
    line-height:0.9rem;
    max-height: 150px;

    overflow:hidden;
    text-overflow:ellipsis;
  }
  
  .bt-viewmore{
    display: none;
  }
}



@media(max-width:425px){

  .container-accard1{
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: 1fr;
    grid-row: fit-content fit-content;

    padding: 1rem;

    max-height: none;
  }


  .div-acimg{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: fit-content;

    margin-bottom: 0.7rem;
  }

  .img-acthumbnail{
    width: 100%;
    height: auto;
  }

  .div-content{
    grid-column: 1/2;
    grid-row: 2/3;

    /* max-height: 4000px; */
  }

  .div-content{
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 10px;

    max-height: none
  }

  .p-acdate{
    font-size: 0.75rem;
    opacity: 0.7cd;
  }

  .div-acdescription{
    padding-right: 0;
    font-size: 0.75rem;
    margin-bottom: 2rem;

    max-height:none;
  }

  .h2-actitle{
    font-size: 1.1rem;
  }

  .h2-actitle{

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    max-height:none
  }
}