@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  color: white;
  font-family: 'Work Sans' , 'Poppins';
}

h2{
  font-weight: 600;
}

a,p,span,button,input{
  font-size: 1rem;
}
p{
  font-family: 'Poppins';
  font-size: 0.95rem;
}

body{
  background-color: rgb(41, 40, 40);
}

nav .active{
  color: red;
}



.websection{
  padding: 50px 10%;
  padding-bottom: 0px;
}

.red{
  color: red;
}







@media(max-width:768px){
  p, button, input{
    font-size: 0.85rem;
  }
}


@media(max-width:425px){
  p, button, input{
    font-size: 0.75rem;
    font-weight: 300;
  }
}